.copyright-20232,
.privacy-policy2,
.terms-conditions2 {
  position: absolute;
  top: 0;
  left: 466px;
  font-weight: 500;
}
.copyright-20232,
.privacy-policy2 {
  left: 981px;
}
.copyright-20232 {
  left: 0;
}
.terms-conditions-container {
  position: absolute;
  top: 230px;
  left: 139px;
  width: 1101px;
  height: 22px;
}
.facebook-icon2,
.instagram-icon2,
.x-icon2,
.youtube-icon2 {
  position: absolute;
  width: calc(100% - 297px);
  right: 0.1px;
  bottom: 0;
  left: 296.9px;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
}
.facebook-icon2,
.x-icon2,
.youtube-icon2 {
  width: calc(100% - 280.1px);
  right: 180.1px;
  left: 100px;
}
.facebook-icon2,
.x-icon2 {
  width: calc(100% - 297px);
  right: 90.1px;
  left: 206.9px;
}
.x-icon2 {
  right: 287px;
  left: 10px;
}
.follow-us5 {
  position: absolute;
  top: 0;
  left: calc(50% - 64.5px);
  font-weight: 600;
}
.contact-us4,
.follow-us4 {
  position: absolute;
  font-size: var(--font-size-9xl);
}
.follow-us4 {
  top: 40px;
  right: 99px;
  width: 337px;
  height: 100px;
  text-align: center;
}
.contact-us4 {
  top: 0;
  left: calc(50% - 76px);
  font-weight: 600;
}
.xxxx2 {
  position: absolute;
  top: 64px;
  left: 87px;
}
.helpnaturedecadeshiftcom2 {
  position: absolute;
  top: 98px;
  left: 33px;
}
.contact-us-container {
  position: absolute;
  top: 39px;
  left: 522px;
  width: 334px;
  height: 130px;
  text-align: center;
}
.ecosystem-logo-vector-1-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 42px);
  width: 83px;
  height: 73px;
  object-fit: cover;
}
.decadeshift4 {
  color: var(--color-limegreen-200);
}
.naturedecadeshift4 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 106px);
  font-weight: 800;
}
.ecosystem-logo-vector-1-parent1 {
  position: absolute;
  top: calc(50% - 93px);
  left: 86px;
  width: 212px;
  height: 93px;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
  font-family: var(--font-playfair-display);
}
.signature2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightgoldenrodyellow);
  height: 292px;
  overflow: hidden;
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.home3 {
  left: 0;
  cursor: pointer;
}
.contact-us5,
.home-container,
.home3 {
  position: absolute;
  top: calc(50% - 11px);
}
.contact-us5 {
  left: 151px;
  cursor: pointer;
}
.home-container {
  left: calc(50% - 124px);
  width: 247px;
  height: 22px;
}
.ecosystem-logo-vector-1-parent2 {
  position: absolute;
  top: calc(50% - 47px);
  left: 30px;
  width: 212px;
  height: 93px;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
  font-family: var(--font-playfair-display);
}
.top2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  height: 100px;
  overflow: hidden;
  font-family: var(--font-inter);
}
.methodology3 {
  font-size: var(--font-size-13xl);
  font-family: var(--font-playfair-display);
}
.methodology-container {
  white-space: pre-wrap;
}
.data-acquisition-and-pre-proce {
  margin: 0;
}
.span1 {
  text-decoration: underline;
}
.a {
  color: inherit;
}
.methodology-321-data-acquis-container,
.table-2-vc-us,
.where-esvx-and-esvt-represent {
  position: absolute;
  top: 250px;
  left: 150px;
  display: inline-block;
  width: 1140px;
}
.table-2-vc-us,
.where-esvx-and-esvt-represent {
  top: 963px;
}
.table-2-vc-us {
  top: 1483px;
}
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 1041px;
  left: 337px;
  width: 767px;
  height: 412px;
  object-fit: cover;
}
.image-5-icon {
  top: 1561px;
  left: 347px;
  width: 747px;
  height: 761px;
}
.methodology1 {
  width: 100%;
  position: relative;
  background-color: var(--color-honeydew);
  height: 2776px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
